.services-section.home-1 {
  background: #F2F2F2;

  .h-service-card {
    // padding: 30px;
    position: relative;

    img {
      height: auto;
      width: 100%;
      margin-bottom: 140px;
      border-radius: 20px;
    }

    .content {
      padding: 30px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: var(--bs-white-color);
      padding: 20px;
      max-height: 280px;
      z-index: 1;
      margin: 0 30px;
      border-radius: 20px;
      text-align: center;

      // box-s  hadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
      .icon-container {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        background-color: #F2F2F2;
        margin-bottom: 20px;
      }

      .read-more {
        font-size: 16px;
      }
    }
  }
}