.about-contact {
    font-size: 1rem;
    gap: 10px;

    .phone-container {
        width: 40px;
        height: 40px;
        background-color: var(--bs-primary-color);
        border-radius: 50%;
        align-items: center;
        justify-content: center;

        i {
            color: #fff;
            font-size: 16px;
            line-height: 25px;
            font-weight: 900;

        }
    }

    .phone {
        color: var(--bs-paragraph-color);
    }

    .help-icon {
        display: inline-block;
        font-weight: 500;
        color: var(--bs-black-color);
        line-height: 22px;
        text-transform: capitalize;
        cursor: pointer;
    }
}