.phone-number {
  i{
    font-size: 30px;
  }
  height: 86px;
  width: 86px;
  background-color: var(--bs-primary-color);
  color: var(--bs-white-color);
}

.heading-style4 {
  a {
    color: var(--bs-black-color) !important;
  }
}